[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
nose = "*"
assertpy = "*"
mock = "*"
behave = {git = "https://github.com/behave/behave.git"}
twine = "*"

[packages]
requests = ">=2.22.0,<=3.0.0"
PyYAML = ">=3.12"

[requires]
